---
layout: default
title: Councillors
---  
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<!-- Two columns of text -->
<h1>Executives</h1>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <img class="img-circle" src="/img/councillors/john.jpg" data-src="holder.js/140x140" alt="John Mesman">
    <h2>John Mesman <small>President</small></h2>
    <p>Is in charge of shit yo</p>
    <p>Contact: 
      <a href="mailto:president@sciencesociey.ca?Subject=CSSS" title="Email Me!"><i class="fa-envelope fa-lg"></i></a>&nbsp;&nbsp;
      <a href=http://wwww.facebook.com/jnmesman><i class="fa-facebook-square fa-lg"></i></a>&nbsp;
    </p>
  </div><!-- /.col-lg-6 col-md-6 col-sm-6 col-xs-6 -->
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <img class="img-circle" src="/img/councillors/anna.jpg" data-src="holder.js/140x140" alt="Anna Marello">
    <h2>Anna Marrello <small>VP Academic</small></h2>
    <ul>
      <li>Ensures attendance for departmental meetings and CASG meetings</li>
      <li>Coordinates with Science Student Success CEnter (SSSC) and is responsible for all of our academic-related events and initiatives</li>
    </ul>
    <p>Contact: 
      <a href="mailto:academic@sciencesociety.ca?Subject=CSSS" title="Email Me!"><i class="fa-envelope fa-lg"></i></a>&nbsp;&nbsp;
      <a href=http://wwww.facebook.com/anna.samantha.7><i class="fa-facebook-square fa-lg"></i></a>&nbsp;
    </p>
  </div><!-- /.col-lg-6 col-md-6 col-sm-6 col-xs-6 -->
</div> <!-- ./row -->
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <img class="img-circle" src="/img/councillors/owen.jpg" data-src="holder.js/140x140" alt="Owen Hovey">
    <h2>Owen Hovey <small>VP Internal</small></h2>
    <ul>
      <li>Ensures regular Council meetings and oversees documents and bylaws</li>
      <li>Responsible for organizing Comedy Night</li>
      <li>Available in the absence of the President</li>
    </ul>
    <p>Contact: 
      <a href="mailto:internal@sciencesociety.ca?Subject=CSSS" title="Email Me!"><i class="fa-envelope fa-lg"></i></a>&nbsp;&nbsp;
      <a href=http://wwww.facebook.com/owen.hovey><i class="fa-facebook-square fa-lg"></i></a>&nbsp;
    </p>
  </div><!-- /.col-lg-6 col-md-6 col-sm-6 col-xs-6 -->
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <img class="img-circle" src="/img/councillors/nour.jpg" data-src="holder.js/140x140" alt="Nour">
    <h2>Nour Dabbour<small>VP Operations</small></h2>
    <ul>
      <li>Plan and execute events</li>
      <li>Assist in managing Society finances</li>
    </ul>
    <p>Contact: 
      <a href="mailto:operations@sciencesociety.ca?Subject=CSSS" title="Email Me!"><i class="fa-envelope fa-lg"></i></a>&nbsp;&nbsp;
      <a href=http://wwww.facebook.com/nour.buzz><i class="fa-facebook-square fa-lg"></i></a>&nbsp;
    </p>
  </div><!-- /.col-lg-6 col-md-6 col-sm-6 col-xs-6 -->
</div> <!-- ./row -->
<h1>Councillors</h1>
<!-- Three columns of text -->
<div class="row">
  {% for councillor in site.categories.councillor reversed %}
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <img class="img-circle" src="/img/councillors/{{councillor.img}}" data-src="holder.js/140x140" alt="Generic placeholder image">
    <h2>{{councillor.name}}<br><small>{{councillor.dept}}</small></h2>
    <p>{{councillor.blurb}}</p>
    <p>Contact: 
      {% if councillor.email %}
      <a href="mailto:{{councillor.email}}?Subject=CSSS%20Representative" title="Email Me!"><i class="fa-envelope fa-lg"></i></a>&nbsp;
      {% endif %}
      {% if councillor.facebook %}
      <a href=http://wwww.facebook.com/{{councillor.facebook}}><i class="fa-facebook-square fa-lg"></i></a>&nbsp;
      {%endif%}
      {% if councillor.twitter %}
      <a href=https://twitter.com/{{councillor.twitter}}><i class="icon-twitter fa-lg"></i></a>&nbsp;
      {%endif%}
      {% if councillor.github %}
      <a href=http://github.com/{{councillor.github}}><i class="icon-github fa-lg"></i></a>&nbsp;
      {%endif%}
      {% if councillor.website %}
      <a href=http://{{councillor.website}}><i class="icon-code fa-lg"></i></a>
      {%endif%}
    </p>
  </div><!-- /.col-lg-4 col-md-4 col-sm-4 col-xs-4 -->
  {% if  site.threeArray contains forloop.index %}
</div> <!-- ./row -->
<div class="row">
  {%endif%}
  {% assign councillors = forloop.length %}
  {%endfor%}
  {% if site.threeArray contains councillors %}
  {% else% %}
</div> <!-- ./row -->
{% endif %}
