---
layout: default
title: Councillors
---
    <div class="top-title-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="page-info">
                        <h1 class="h1-page-title">Our Team</h1>

                        <h2 class="h2-page-desc">
                            This is our talented team
                        </h2>

                        <!-- BreadCrumb -->
                        <div class="breadcrumb-container">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li class="active">Team</li>
                            </ol>
                        </div>
                        <!-- BreadCrumb -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--.top wrapper end -->
<div class="loading-container">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div class="content-wrapper hide-until-loading">
  <div class="body-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY"
             data-animrepeat="0"
             data-speed="1s"
             data-delay="0.5s">
            <h2 class="h2-section-title">Our Executives</h2>

            <div class="i-section-title">
                <i class="icon-users-outline">

                </i>
            </div>

              <div class="space-sep20"></div>
          </div>
        </div>
        <div class="row animated row-centered" data-animtype="fadeInUp" data-animrepeat="0"
             data-animdelay="0.4s">
              {% for exec in site.categories.executives reversed %}
               <div class="col-md-4 col-sm-4 col-centered">
                   <div class="team-member">
                       <div class="team-member-image img-overlay">
                           <img src="/img/councillors/{{exec.img}}" alt="{{exec.name}}"/>

                           <div class="item-img-overlay">
                               <div class="social-icons item_img_overlay_content">
                               {% if exec.email %}
                                <a href="mailto:{{exec.email}}" title="email" class="social-media-icon mail-icon">Email</a>
                               {% endif %}
                               {% if exec.facebook %}
                                <a href="http://facebook.com/{{exec.facebook}}" title="facebook" target="_blank" class="social-media-icon facebook-icon">Facebook</a>
                               {%endif%}
                               {% if exec.twitter %}
                                <a href="http://twitter.com/{{exec.twitter}}" title="twitter" target="_blank" class="social-media-icon twitter-icon">Twitter</a>
                               {%endif%}
                               {% if exec.linkedin %}
                                <a href="https://www.linkedin.com/in/{{exec.linkedin}}" title="linkedin" target="_blank" class="social-media-icon linkedin-icon">Linkedin</a>
                               {%endif%}
                                </div>
                           </div>
                       </div>
                       <div class="team-member-content">
                           <h3 class="team-member-name h3-body-title">
                               {{exec.name}}
                           </h3>

                           <div class="team-member-position">
                               {{exec.role}}
                           </div>
                           <div class="team-member-short-bio">
                               {{exec.blurb}}
                           </div>
                       </div>
                   </div>
               </div>
               {% if  site.threeArray contains forloop.index %}
               </div> <!-- ./row -->
                <div class="row animated row-centered" data-animtype="fadeInUp" data-animrepeat="0">
               {%endif%}
               {% assign execs = forloop.length %}
               {%endfor%}
               {% if site.threeArray contains execs %}
               {% else% %}
             </div> <!-- ./row -->
             {% endif %}
        <div class="row">
          <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY"
               data-animrepeat="0"
               data-speed="1s"
               data-delay="0.5s">
              <h2 class="h2-section-title">Our Councillors</h2>

              <div class="i-section-title">
                  <i class="icon-users-outline">

                  </i>
              </div>

                <div class="space-sep20"></div>
            </div>
          </div>
          <div class="row animated row-centered" data-animtype="fadeInUp" data-animrepeat="0"
               data-animdelay="0.4s">
              {% for councillor in site.categories.councillor reversed %}
               <div class="col-md-3 col-sm-3 col-centered">
                   <div class="team-member">
                       <div class="team-member-image img-overlay">
                           <img src="/img/councillors/{{councillor.img}}" alt="{{councillor.name}}"/>

                           <div class="item-img-overlay">
                               <div class="social-icons item_img_overlay_content">
                               {% if councillor.email %}
                                <a href="mailto:{{councillor.email}}" title="email" class="social-media-icon mail-icon">Email</a>
                               {% endif %}
                               {% if councillor.facebook %}
                                <a href="http://facebook.com/{{councillor.facebook}}" title="facebook" target="_blank" class="social-media-icon facebook-icon">Facebook</a>
                               {%endif%}
                               {% if councillor.twitter %}
                                <a href="http://twitter.com/{{councillor.twitter}}" title="twitter" target="_blank" class="social-media-icon twitter-icon">Twitter</a>
                               {%endif%}
                               {% if councillor.linkedin %}
                                <a href="https://www.linkedin.com/in/{{councillor.linkedin}}" title="linkedin" target="_blank" class="social-media-icon linkedin-icon">Linkedin</a>
                               {%endif%}
                                </div>
                           </div>
                       </div>
                       <div class="team-member-content">
                           <h3 class="team-member-name h3-body-title">
                               {{councillor.name}}
                           </h3>

                           <div class="team-member-position">
                               {{councillor.dept}}
                           </div>
                           <div class="team-member-short-bio">
                               {{councillor.blurb}}
                           </div>
                       </div>
                   </div>
               </div>
               {% if  site.fourArray contains forloop.index %}
               </div> <!-- ./row -->
                <div class="row animated row-centered" data-animtype="fadeInUp" data-animrepeat="0">
               {%endif%}
               {% assign councillors = forloop.length %}
               {%endfor%}
               {% if site.fourArray contains councillors %}
               {% else% %}
             </div> <!-- ./row -->
             {% endif %}
      </div>
    </div> <!-- Container -->
  </div> <!-- body-wrapper -->
</div> <!-- content-wrapper -->
