<footer>
    <div class="footer">

        <div class="container">
            <div class="footer-wrapper">
                <div class="row">


                    <!-- Footer Col. -->
                    <div class="col-md-3 col-sm-3 footer-col">
                        <div class="footer-content">
                            <div class="footer-content-logo">
                                <img src="/images/csss-logo.png" alt=""/>
                            </div>
                            <div class="footer-content-text">
                                <p>Welcome to the Carleton Science Student Society!</p>
                                <p>Our objective is, “to promote and foster a collective community for the purposes of personal, social, and intellectual growth within the Faculty of Science at Carleton University and throughout the University campus at large."</p>
                            </div>
                        </div>
                    </div>
                    <!-- //Footer Col.// -->


                    <!-- Footer Col. -->
                    <div class="col-md-3 col-sm-3 footer-col">
                        <div class="footer-title">
                            Recent News
                        </div>
                        <div class="footer-content footer-recent-tweets-container">
                            <ul class="newsList footer-recent-news">
                                <li class="news_content item">
                                    <p> First day of class Sept 4th</p>
                                </li>
                                <li class="news_content item">
                                    <p> First Science Cafe <strong>Wed Sept 10</strong><br>
                                        <a style='color:#D14836' href='http://sciencecafe.carleton.ca' target='_blank'>click here for details...</a>
                                    </p>
                                </li>
                                <li class="tweet_content item">
                                    <p>Stay posted for lots of fun, awesome events coming soon...</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- //Footer Col.// -->


                    <!-- Footer Col. -->
                    <div class="col-md-3 col-sm-3 footer-col">
                        <div class="footer-title">
                            Links
                        </div>
                        <div class="footer-content">
                            <ul class="footer-category-list">
                                <li>
                                    <a href="https://www.facebook.com/CarletonScienceStudentSociety">Like us on Facebook</a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/carletonsss">Folow us on Twitter</a>
                                </li>
                                <li>
                                    <a href="/events">Check out upcoming events</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- //Footer Col.// -->


                    <!-- Footer Col. -->
                    <div class="col-md-3 col-sm-3 footer-col">
                        <div class="footer-title">
                            Photostream
                        </div>
                        <div class="footer-content">
                            <div class="flickr_badge_wrapper">
                                <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&display=latest&sizez=s&layout=x&source=user&user=127378622@N05" id="flicker-images"></script>
                                <!-- Flickr id: csss_vp_operations -->
                            </div>
                            <!-- //Footer Col.// -->

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 center-text">
                        <div class="copyright-text">Made by: <a href="http://mgingras.ca" target="_blank">Martin Gingras</a></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>
