<footer>
  <div class="footer">
    <div class="container">
      <div class="footer-wrapper">
        <div class="row">
          <div class="col-md-5 col-sm-5 footer-col">
            <div class="footer-content">
              <div class="footer-content-logo">
                <img src="/images/csss-logo-white.png" alt=""/>
              </div>
              <div class="footer-content-text">
                <p>Welcome to the Carleton Science Student Society!</p>
                <p>Our objective is to promote and foster a collective community for the purposes of personal, social, and intellectual growth within the Faculty of Science at Carleton University and throughout the University campus at large.</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 footer-col">
            <div class="footer-title">
              Links
            </div>
            <div class="footer-content">
              <ul class="footer-category-list">
                <li>
                  <a href="https://www.facebook.com/CarletonScienceStudentSociety">Like us on Facebook</a>
                </li>
                <li>
                  <a href="https://twitter.com/carletonsss">Follow us on Twitter</a>
                </li>
                <li>
                  <a href="/events">Check out upcoming events</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 footer-col">
            <div class="footer-title">
              Where to find us
            </div>
            <div class="footer-content footer-recent-tweets-container">
              <a class="csss-maps-link" title="Click to view in Google Maps!" href="https://www.google.ca/maps/place/Herzberg+Laboratories,+Carleton+University,+1125+Colonel+By+Dr,+Ottawa,+ON+K1S+5B6/@45.3820792,-75.6972839,17z/data=!3m1!4b1!4m2!3m1!1s0x4cce067678a673d3:0x2cba94e6702febc5">
                3412 Herzberg<br>Carleton University<br>1125 Colonel By Dr<br>Ottawa, ON K1S 5B6
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 footer-col">
            <div class="footer-title">
              Office Hours
            </div>
            <div class="footer-content footer-recent-tweets-container">
              <p><span>Mon:</span> 12:00 pm-1:00 pm</p>
              <p><span>Tue:</span> 1:00 pm-2:00 pm</p>
              <p><span>Wed:</span> 10:00 am-11:00 am</p>
              <p><span>Thu:</span> 12:00 pm-1:00 pm</p>
              <p><span>Fri:</span> 10:30 am-11:30 am</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 center-text">
            <div class="copyright-text"><a href="mailto:webmaster@sciencesociety.ca" target="_blank">Contact the webmaster</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
