
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Apple Shit -->
<meta name="apple-mobile-web-app-capable" content="yes" >
<meta name="apple-mobile-web-app-status-bar-style" content="default" >

<link rel="apple-touch-icon" href="/img/iphone.jpg" >
<link rel="apple-touch-icon-precomposed" href="/img/iphone.jpg" >


<!-- standard viewport tag to set the viewport to the device's width
, Android 2.3 devices need this so 100% width works properly and
doesn't allow children to blow up the viewport width-->
<meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" >
<!-- width=device-width causes the iPhone 5 to letterbox the app, so
we want to exclude it for iPhone 5 to allow full screen apps -->
<meta name="viewport" id="vp6" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" >
<!-- iPhone 5 Splash Screen -->
<!-- <link href="img/splash_1096.png" rel="apple-touch-startup-image" media="(device-height: 568px)"> -->
<!-- older iPhone & iPad Splash Screen -->
<!-- <link href="img/splash_iphone_2x.png" rel="apple-touch-startup-image" sizes="640x960" media="(device-height: 480px)"> -->

<title>{{site.name}} - {{ page.title }}</title>

<!-- FAVICON -->

<!-- For IE -->
<link rel="shortcut icon" href="/img/favicon.ico">

<!-- For Everything else... -->
<link rel="icon" type="image/ico" href="/img/favicon.ico">

<link rel="stylesheet" href="/css/revolution_settings.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/font-awesome.css">
<link rel="stylesheet" href="/css/axfont.css">
<link rel="stylesheet" href="/css/tipsy.css">
<link rel="stylesheet" href="/css/prettyPhoto.css">
<link rel="stylesheet" href="/css/isotop_animation.css">
<link rel="stylesheet" href="/css/animate.css">

<link href='/css/style.css' rel='stylesheet' type='text/css'>
<link href='/css/responsive.css' rel='stylesheet' type='text/css'>

<link href="/css/skins/red.css" rel='stylesheet' type='text/css' id="skin-file">

<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script type="text/javascript" src="js/respond.js"></script>
<![endif]-->

