<!-- Header -->
<header id="header">
    <div class="container">

        <div class="row header">

            <!-- Logo -->
            <div class="col-xs-2 logo">
                <a href="/">
                    <img src="/images/csss-logo.png" alt="CSSS"/>
                </a>
            </div>
            <!-- //Logo// -->


            <!-- Navigation File -->
            <div class="col-md-10">

                <!-- Mobile Button Menu -->
                <div class="mobile-menu-button">
                    <i class="fa fa-list-ul"></i>
                </div>
                <!-- //Mobile Button Menu// -->




                <nav>
                    <ul class="navigation">
                        <li>
                            <a href="/">
                                <span class="label-nav">
                                    Home
                                </span>
                                <span class="label-nav-sub" data-hover="Go Home">
                                    Home Page
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/about" class="activeLink">
                                <span class="label-nav">
                                    About
                                </span>
                                <span class="label-nav-sub" data-hover="YAY">
                                    Learn More
                                </span>
                            </a>
                        </li>
                        <li>
                          <a href="/clubs" class="activeLink">
                            <span class="label-nav">
                              Clubs
                            </span>
                            <span class="label-nav-sub" data-hover="Under Science">
                              Academic Clubs
                            </span>
                          </a>
                        </li>
                        <li>
                            <a href="/council/councillors">
                                <span class="label-nav">
                                    Council
                                </span>
                                <span class="label-nav-sub" data-hover="Meet Us">
                                    Your Council
                                </span>
                            </a><!--
                            <ul>
                                <li>
                                    <a href="/council/councillors">Councillors</a>
                                </li>
                                <li>
                                    <a href="/council/meetings">Meetings</a>
                                </li>
                            </ul>-->
                        </li>
                        <li>
                            <a href="/events">
                                <span class="label-nav">
                                    Events
                                </span>
                                <span class="label-nav-sub" data-hover="Super Fun">
                                    The Fun Stuff
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/documents">
                                <span class="label-nav">
                                    Documents
                                </span>
                                <span class="label-nav-sub" data-hover="*yawn*">
                                    The Less Fun Stuff
                                </span>
                            </a>
                        </li>
                        <!--
                        <li>
                            <a href="/elections">
                                <span class="label-nav">
                                    Elections
                                </span>
                                <span class="label-nav-sub" data-hover="YAY!!">
                                    Get Elected!!
                                </span>
                            </a>
                        </li>
                        -->
                    </ul>

                </nav>

                <!-- Mobile Nav. Container -->
                <ul class="mobile-nav">

                </ul>
                <!-- //Mobile Nav. Container// -->
            </div>
            <!-- Nav -->

        </div>



    </div>
</header>
<!-- //Header// -->
