<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
<!--                 <div class="call-us top-bar-block">
                    <i class="icon-phone"></i>
                    <span>
                        Call us at 1- 613 - 850 - ****
                    </span>
                </div> -->
                <div class="mail-us top-bar-block">
                    <i class="icon-email"></i>
                    <span>
                        E-mail: <a href="mailto:internal@sciencesociety.ca">internal@sciencesociety.ca</a>
                    </span>
                </div>

            </div>
            <div class="col-sm-5">
                <div class="social-icons">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/CarletonScienceStudentSociety" target="_blank" class="social-media-icon facebook-icon" data-original-title="facebook">facebook</a>
                        </li>
                        <li>
                            <a href="http://twitter.com/carletonsss" target="_blank" class="social-media-icon twitter-icon" data-original-title="twitter">twitter</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
